.jumbotron {
  text-align: center;
  background-image: url('../../resources/images/zebra.jpeg');
  background-size: cover;
  opacity: .9;
  color: white;
  height: 290px;
  letter-spacing: 22px;
}

.jumbotron h1 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 85px;
}

body {
  background-color: #c9dce5;
  font-family: 'Comfortaa', cursive;
}

#right-column {
  border-style: solid;
  border-width: thin;
  margin-top: 105;
  padding-bottom: 25;
}
